
@{
    ViewData["Title"] = "Login";
}

<div>
    <label>UserName</label>
    <input type="text"/>
    <label>Password</label>
    <input type="text" />
    <label>UserName</label>
    <button>
        <a asp-controller="StaffValidation" asp-action="Login">Submit</a>
    </button>
</div>
