@{
    ViewData["Title"] = "AboutDMS Page";
}

<section class="menu">
    <div class="container2">
        <article class="article-1">
            <h1 class="page-title">About us</h1>
            <p>
                As an integral part of improving patient access to care and disease management and prevention, our mission at E and G Health Care
                is to help people live healthier lives and to help the health system work better for everyone and promotes the well-being of all individuals, families and communities.
            </p>
            <div class="dark">
                <h3>Core Values</h3>
                <p>Excellence</p>
                <p>Integrity</p>
                <p>Patient-Centered Approach</p>
                <p>Innovative</p>
                <p>Data Security and Privacy</p>

            </div>
        </article>
        <aside class="side-bar">
            <div class="dark">
                <h3>Our Vision</h3>
                <p>To revolutionize healthcare management by providing a comprehensive and user-friendly hospital management system that enhances efficiency, accuracy, and patient care</p>
                <p>
                    To prioritize patient needs, safety, and satisfaction by leveraging technology to streamline operations, enhance communication, and deliver personalized healthcare services.
                </p>
                <p>
                    To create a unified platform that seamlessly integrates various departments, processes, and stakeholders within a hospital ecosystem for improved coordination and collaboration.
                </p>
            </div>

        </aside>
    </div>
</section>

<section class="About">
    <div class="tm-about">
        <div class="box" id="leftside">
            <img name="em" src="./image/doctor3.jpg" alt="">
            <h3>Emmanuel Ochogwu</h3>
            <p>Software Engineer</p>
            <section class="tmsocial-hand">
                <div class="social-fb1"><a href="#"><img src="image/fbblu.svg" alt=""></a></div>
                <div class="social-twit1"><a href="#"><img src="image/twitblu.svg" alt=""></a></div>
                <div class="social-in"><a href="#"><img src="image/in.svg" alt="" color="#ffffff"></a></div>
            </section>
        </div>
    </div>
    <div class="tm-about">
        <div class="box" id="rightside">
            <img name="tb" src="./image/TB.jpg" alt="">
            <h3>Adelesi Oluwatobi</h3>
            <p>Software Engineer</p>
            <section class="tmsocial-hand">
                <div class="social-fb1"><a href="#"><img src="image/fbblu.svg" alt=""></a></div>
                <div class="social-twit1"><a href="#"><img src="image/twitblu.svg" alt=""></a></div>
                <div class="social-in"><a href="#"><img src="image/in.svg" alt="" color="#ffffff"></a></div>
            </section>
        </div>
    </div>
</section>
